.projects_content{
    display: flex;
    justify-content: center;
    gap: 2vw;
}
.project_card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.2vw;
    width: 20%;
    max-height: 100%;

    filter: drop-shadow(0 10px 25px #8d1dc156);
    border: #8e1dc1 1.5px solid;
    padding: 10px;
    border-radius: 10px;
    picture{
        display: flex;
        align-content: start;
        img{
            width: 100%;
            height: 100%;
            border-radius: 5px;
            margin-bottom: 4%;
        }
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
}
.project_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.tags{
    display: flex;
    justify-content: start
}
.tag{
    position:static;
    background-color: #dc7dff5d;
    box-shadow: #dc7dff 0 0 6px;
    margin: 0;
    margin-right: 5%;
    font-size: 1vw;
    border: 0.4vw #ffffff00 solid;
    border-radius: 10px;
    font-weight: 500;
    color: #adadad;
}
@media (max-width: 768px) {
    .projects{
        height: auto;
    }

    .projects_content{
        display: flex;
        flex-direction: column;
        align-items:  center;
        justify-content: center;
        gap: 2vw;
    }
    .project_card{
        width: 75%;
        h3{
            font-size: 130%;
        }
        p{
            font-size: 90%;
        }
    }


    .tags{
        display: flex;
        justify-content: start
    }
    .tag{
        position: static;
        background-color: #dc7dff5d;
        box-shadow: #dc7dff 0 0 6px;
        margin: 0;
        margin-top: 2%;
        margin-right: 5%;
        font-size: 85%;
        border-radius: 10px;
        font-weight: 500;
    }
}

