* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #f0f0f0;
    font-family: "Cascadia Code", sans-serif;
}
body{
    background-color: #1b1a22;
}
h1 {
    font-size: 2vw;
}
p {
    font-size: 1.2vw;
    margin: 1vw;
    transition: ease-in-out 200ms;
    filter: drop-shadow(0 0 100px #8d1dc1);
}
.title_header h1::after{
    content: '';
    display: block;
    width: 60%;
    height: 0.2vw;
    position: relative;
    box-shadow: #8e1dc1 0 0 40px 5px;
    background-color: #8d1dc1;
    border-radius: 10px;
}
.title_contact::after{
    content: '';
    display: block;
    width: 35%;
    height: 0.2vw;
    position: relative;
    box-shadow: #8e1dc1 0 0 40px 5px;
    background-color: #8d1dc1;
    border-radius: 10px;
}
.header {
    background-color: #5252525e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    height: 5vh;
    border-bottom: 1px solid #8d1dc1;    
}
.menu{
    display: flex;
}
.menu_item{
    display: flex;
    align-items: center;
    margin: 0.2vw;
}
.menu_item a{
    border: 1vw solid #00000000;
    font-size: 1.3vw;
}
.menu_item a::after{
    content: '';
    display: block;
    width: 0%;
    height: 0.1vw;
    background-color: #8d1dc1;
    transition: ease-in-out 200ms;
}
.menu_item:hover a{
    color: #dc7dff;
    text-shadow:0px 0px 50px 10px #8e1dc1;
}
.menu_item:hover ::after{
    width: 100%;
    box-shadow: #8e1dc1 0 0 40px 5px;
}
main{
    background-color: #1b1a22;
    height: 80vh;
}
section{
    margin: auto;
    width: 95%;
    height: 80%;
    display: block;
    justify-items: center;
}
.contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.contacts_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
}
.form_contact{
    width: 60%;
    height: 75%;
    border: #8d1dc1 1.5px solid;
    border-radius: 20px;
    padding: 2vw;
    display: grid;
    row-gap: 2vw;
}
.input_box{
    background: #ffffff00;
    border-style: none;
    border-bottom: #b939e82a 1px solid ;
    width: 90%;
    height: 2vw;
    color: #ffffff;
    transition: ease 250ms;
    font-size: 1vw;
}
.input_box::placeholder{
    font-size: 1.5vw;
}
.input_box:hover {
    border-bottom: #b939e8 1px solid;
    box-shadow: none;
}
.input_box:focus-visible{
    background-color: #00000000;
    box-shadow: none;
    border-style: none;
    outline: none;
    border-bottom: #b939e8 1px solid;
}
.input_box:focus-visible::placeholder{
    background-color: #00000000;
    box-shadow: none;
    color: #4a4a4a;
    text-shadow: none;
}
#mensage{
    margin-top: 50px;
    display: flex;
    align-items: end;
}
.input_button {
    justify-self: end;
    align-self: flex-end;
    align-items: center;
    justify-items: center;
    height: 3vw;
    width: 20%;
    padding: 0.3vw;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 1.3vw;
    font-weight:800;
    color: #dc7dff;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: ease 500ms;
    user-select: none;
}
.input_button:hover, .input_button:focus {
    color: #ffffff;
    background: #8e1dc1;
    border: 1px solid #8e1dc1;
    text-shadow: 0 0 5px #ffffff;
    box-shadow: 0 0 5px #8e1dc1, 0 0 10px #dc7dff, 0 0 50px #dc7dff;
}
footer{
    background-color: #1a1a1a;
    color: white;
    height: 20vh;
    padding-top: 0.5vh;
}
.line{
    width: 100%;
    height: 0.3vh;
    background-color: #8e1dc1;
}
@media (max-width: 700px) {
    h1 {
        font-size: 95%;
    }
    p {
        font-size: 70%;
        margin: 1vw;
        transition: ease-in-out 200ms;
        filter: drop-shadow(0 0 100px #8d1dc1);
    }
    .title_header h1::after{
        content: '';
        display: block;
        width: 60%;
        height: 0.2vw;
        position: relative;
        box-shadow: #8e1dc1 0 0 40px 5px;
        background-color: #8d1dc1;
        border-radius: 10px;
    }
    .title_contact::after{
        content: '';
        display: block;
        width: 35%;
        height: 0.2vw;
        position: relative;
        box-shadow: #8e1dc1 0 0 40px 5px;
        background-color: #8d1dc1;
        border-radius: 10px;
    }
    .social_icons{
        display: flex;
        align-items: center;
    }
    .social_icons a{
        display: flex;
        justify-content: center;
    }
    .github_icon{
        width: 50%;
        height: 50%;
        margin: 1vh;
    }
    .email_icon{
        width: 43%;
        height: 43%;
        margin: 1vh;
    }
    .header {
        background-color: #5252525e;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vw;
        height: 4vw;
        border-bottom: 1px solid #8d1dc1;    
    }
    .menu{
        display: flex;
    }
    .menu_item{
        display: flex;
        align-items: center;
        margin: 0.2vw;
    }
    .menu_item a{
        border: 1vw solid #00000000;
        font-size: 52%;
    }
    .menu_item a::after{
        content: '';
        display: block;
        width: 0%;
        height: 0.1vw;
        background-color: #8d1dc1;
        transition: ease-in-out 200ms;
    }
    .menu_item:hover a{
        color: #dc7dff;
        text-shadow:0px 0px 50px 10px #8e1dc1;
    }
    .menu_item:hover ::after{
        width: 100%;
        box-shadow: #8e1dc1 0 0 40px 5px;
    }
    main{
        height: 80vh;
    }
    section{
        margin: auto;
        width: 95%;
        height: auto;
        margin-bottom: 30px;
        display: block;
        justify-items: center;
    }
    .contacts{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .contacts_content{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 80%;
    }
    .form_contact{
        width: 60%;
        height:55%;
        border: #8d1dc1 1.5px solid;
        border-radius: 10px;
        padding: 2vw;
        display: grid;
        row-gap: 2vw;
    }
    .input_box{
        background: #ffffff00;
        border-style: none;
        border-bottom: #b939e82a 1px solid ;
        width: 90%;
        height: 80%;
        color: #ffffff;
        transition: ease 250ms;
        font-size: 65%;
    }
    .input_box::placeholder{
        font-size: 110%;
    }
    .input_box:hover {
        border-bottom: #b939e8 1px solid;
        box-shadow: none;
    }
    .input_box:focus-visible{
        background-color: #00000000;
        box-shadow: none;
        border-style: none;
        outline: none;
        border-bottom: #b939e8 1px solid;
    }
    .input_box:focus-visible::placeholder{
        background-color: #00000000;
        box-shadow: none;
        color: #4a4a4a;
        text-shadow: none;
    }
    #mensage{
        margin-top: 10%;
        display: flex;
        align-items: end;
    }
    .input_button {
        justify-self: end;
        align-self: flex-end;
        align-items: center;
        justify-items: center;
        height: 80%;
        width: 30%;
        padding: 0.3vw;
        text-transform: uppercase;
        border-radius: 5px;
        font-size: 55%;
        font-weight:800;
        color: #dc7dff;
        text-shadow: none;
        background: transparent;
        cursor: pointer;
        box-shadow: transparent;
        border: 1px solid #ffffff80;
        transition: ease 500ms;
        user-select: none;
    }
    .input_button:hover, .input_button:focus {
        color: #ffffff;
        background: #8e1dc1;
        border: 1px solid #8e1dc1;
        text-shadow: 0 0 5px #ffffff;
        box-shadow: 0 0 5px #8e1dc1, 0 0 10px #dc7dff, 0 0 50px #dc7dff;
    }
    footer{
        background-color: #1a1a1a;
        color: white;
        height: 20vh;
        padding-top: 0.5vh;
    }
    .line{
        width: 100%;
        height: 0.3vh;
        background-color: #8e1dc1;
    } 
}
@media (max-height: 1368px) and (min-width:768px) and (max-width: 1920){
    h1 {
        font-size: 170%;
    }
    h2 {
        font-size: 150%;
    }
    h3 {
        font-size: 135%;
        transition: ease-in-out 200ms;
    }
    p {
        font-size: 120%;
        margin: 1vw;
        transition: ease-in-out 200ms;
        filter: drop-shadow(0 0 100px #8d1dc1);
    }
    .title_header h1::after{
        content: '';
        display: block;
        width: 60%;
        height: 0.2vw;
        position: relative;
        box-shadow: #8e1dc1 0 0 40px 5px;
        background-color: #8d1dc1;
        border-radius: 10px;
    }
    .social_icons{
        display: flex;
        align-items: center;
    }
    .social_icons a{
        display: flex;
        justify-content: center;
    }
    .github_icon{
        width: 50%;
        height: 50%;
        margin: 1vh;
    }
    .email_icon{
        width: 43%;
        height: 43%;
        margin: 1vh;
    }
    .header {
        background-color: #5252525e;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1vw;
        height: 4vw;
        border-bottom: 1px solid #8d1dc1;    
    }
    .menu{
        display: flex;
    }
    .menu_item{
        display: flex;
        align-items: center;
        margin: 0.2vw;
    }
    .menu_item a{
        border: 1vw solid #00000000;
        font-size: 130%;
    }
    .menu_item a::after{
        content: '';
        display: block;
        width: 0%;
        height: 0.1vw;
        background-color: #8d1dc1;
        transition: ease-in-out 200ms;
    }
    .menu_item:hover a{
        color: #dc7dff;
        text-shadow:0px 0px 50px 10px #8e1dc1;
    }
    .menu_item:hover ::after{
        width: 100%;
        box-shadow: #8e1dc1 0 0 40px 5px;
    }
    main{
        height: 100%;
    }
    section{
        margin: auto;
        width: 95%;
        height: auto;
        margin-bottom: 30px;
        display: block;
        justify-items: center;
    }
    .contacts{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .contacts_content{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 80%;
    }
    .form_contact{
        width: 60%;
        height:55%;
        border: #8d1dc1 1.5px solid;
        border-radius: 10px;
        padding: 2vw;
        display: grid;
        row-gap: 2vw;
    }
    .input_box{
        background: #ffffff00;
        border-style: none;
        border-bottom: #b939e82a 1px solid ;
        width: 90%;
        height: 80%;
        color: #ffffff;
        transition: ease 250ms;
        font-size: 65%;
    }
    .input_box::placeholder{
        font-size: 110%;
    }
    .input_box:hover {
        border-bottom: #b939e8 1px solid;
        box-shadow: none;
    }
    .input_box:focus-visible{
        background-color: #00000000;
        box-shadow: none;
        border-style: none;
        outline: none;
        border-bottom: #b939e8 1px solid;
    }
    .input_box:focus-visible::placeholder{
        background-color: #00000000;
        box-shadow: none;
        color: #4a4a4a;
        text-shadow: none;
    }
    #mensage{
        margin-top: 10%;
        display: flex;
        align-items: end;
    }
    .input_button {
        justify-self: end;
        align-self: flex-end;
        align-items: center;
        justify-items: center;
        height: 80%;
        width: 30%;
        padding: 0.3vw;
        text-transform: uppercase;
        border-radius: 5px;
        font-size: 55%;
        font-weight:800;
        color: #dc7dff;
        text-shadow: none;
        background: transparent;
        cursor: pointer;
        box-shadow: transparent;
        border: 1px solid #ffffff80;
        transition: ease 500ms;
        user-select: none;
    }
    .input_button:hover, .input_button:focus {
        color: #ffffff;
        background: #8e1dc1;
        border: 1px solid #8e1dc1;
        text-shadow: 0 0 5px #ffffff;
        box-shadow: 0 0 5px #8e1dc1, 0 0 10px #dc7dff, 0 0 50px #dc7dff;
    }
    
    footer{
        background-color: #1a1a1a;
        color: white;
        height: 10vh;
        padding-top: 0.5vh;
    }
    .line{
        width: 100%;
        height: 0.3vh;
        background-color: #8e1dc1;
    }
}